{% extends "base.html" %}

{% block title %}Delete Post{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Delete Post</h1>
            <p>Are you sure you want to delete the post titled "{{ post.title }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
