{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Create a New Post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
            <a href="{% url 'post_list' %}" class="btn btn-secondary">Back to posts</a>
        </div>
    </div>
{% endblock %}
v


